@font-face {
    font-family: 'iconfont';  /* Project id 2415098 */
    src: url('//at.alicdn.com/t/font_2415098_uvsloh3isb.woff2?t=1622210530785') format('woff2'),
    url('//at.alicdn.com/t/font_2415098_uvsloh3isb.woff?t=1622210530785') format('woff'),
    url('//at.alicdn.com/t/font_2415098_uvsloh3isb.ttf?t=1622210530785') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
